@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fefbec;
  --foreground: #FEF3C7;
  --primary: #0F172A;
  --secondary: #78350F;
  --highlight: #FDE68A;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--primary);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
