@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fefbec;
  --foreground: #FEF3C7;
  --primary: #0F172A;
  --secondary: #78350F;
  --highlight: #FDE68A;
  --accent: #334155;
  --cream: #E2E8F0;
  --gold: #FBBF24;
  --shadeBlue: #81b3c8;
  --beige: #FEF3C7;
  --pinkish-red: #BE185D;
  --deep-cyan: #0369A1;
  --dark-orange: #B45309;
  --deep-green: #15803D;
  --amethyst: #A21CAF;

}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--primary);
  width: 100%;
  min-height: 100vh;
  height: 100%;
  overflow-x: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .rectangle {
    clip-path: polygon(100% 2%, 12% 100%, 100% 100%);
  }

  .trapezoid {
    clip-path: polygon(0 53%, 100% 33%, 100% 100%, 0% 100%);
  }

  .inner-container {
    @apply px-4 md:px-20
  }
}
